{% extends 'base.html' %}

  {% block content %}
    <div  class="container pt-5">
        <div class="col-10 shadow mx-auto" style="padding:15px">
            <form action="" method = "POST" enctype="multipart/form-data">
                {% csrf_token %}
                <div>
                    <h4 class="text-center">Post List</h4>
                    <a class="btn btn-success btn-sm" href="{% url 'addpost' %}">Add post</a>
                </div>
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Title</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>File</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for i in posts %}
                        <tr>
                            <td>{{i.id}}</td>
                            <td>{{i.title}}</td>
                            <td>{{i.description}}</td>
                            <td>
                                {% if i.image %}
                                    <a href="{{i.image.url}}" target="_blank"> 
                                        <img src="{{i.image.url}}" alt="" width="50px">
                                    </a>
                                {% endif %}
                            </td>
                            <td><div>
                               
                                <a href="{{ i.file.url }}">
                                    <embed id="verPDF" src="{{i.file.url}}" width="50" height="35" type="application/pdf">
                                </a>
                              </div></td>
                            <td>
                                <div class="d-flex gap-2 ">
                                    <a href="{% url 'updatepage' i.id %}" class="btn btn-warning btn-sm">Update</a>
                                    <a href="" type="submit" class="btn btn-danger btn-sm">Delete</a>
                                 </div> 
                            </td>

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </form>
        </div>                
    </div>
    {% endblock %}

  